.teamContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    align-self: center;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .teamContainer{
        flex-direction: column;
        gap: 20px;
    }
}